  /* Farben */
/*
Blau: #1F4E8C
Dunkelgrau: #3D3F45
Hellgrau: #F0F0F0
Rot: #A62C21
 */

 /* GLOABAL + Google-Fonts-----------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap');
body{
  font-family: 'Lato', 'Raleway', 'Helvetica Neu', Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  min-width: 300px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
}
header, main, section, article, footer{
  display: block;
}
:focus{
   /*outline: 2px dotted #F0F0F0; */
  box-shadow: 0 0 1px 2px #F0F0F0, 0 0 5px #F0F0F0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media(max-width: 1350px){
  section{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media(max-width: 768px){
  section{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
h2{
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
/* GENERELLES -----------------------------------------------------------------*/
/* Clearfix-Hack */
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.active{ background-color: #A62C21 !important; }
.wichtig{font-weight: bold;}
.screenreader{display: none;}
.btn-type-1{
  background-color: #A62C21;
  border: 2px solid #A62C21;
  color: #FFF;
  padding: 0.4rem 0.6rem;
  transition: border .5s ease-in-out;
}
.btn-type-1:hover{
  border: 2px solid #FFF;
}
.btn-type-2{
  border: 2px solid #FFF;
  color: #FFF;
  padding: 0.4rem 0.6rem;
  background-color: transparent;
  transition: border .5s ease-in-out, color .5s ease-in-out;
}
.btn-type-2:hover{
  color: #A62C21;
  border: 2px solid #A62C21;
}
.btn-type-3{
  border: 2px solid #3D3F45;
  background-color: transparent;
  font-size: 1rem;
  color: #3D3F45;
  padding: .5rem 3rem;
  transition: border-color .5s ease-in-out, color .5s ease-in-out;
}
.btn-type-3:hover,
.btn-type-3:focus{
  border-color: #A62C21;
  color: #A62C21;
}
.intro-container{
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
}
.intro-container > h1{
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.intro-container > p{
  font-size: 1.2rem;
}

/* Navigationsleiste ----------------------------------------------------------------*/
.logo-link{
  display: inline-block;
  height: 100%;
  float:left;
}
.header-nav{
  width: 100%;
  background-color: #3D3F45;
  height: 50px;
  font-weight: bold;
  font-size: 1.1rem;
}
.header-nav .col-6, .header-nav .mobile-nav-content{
  padding-top: 0;
  padding-bottom: 0;
}
.header-nav .container,
.header-nav .row,
.header-nav .col-6,
.header-nav .mobile-nav-content{
  height: 100%;
}
.header-nav .mobile-nav-content{
  position: relative;
  z-index: 1000;
}
.header-nav  a > img{
  height: 30px;
  width: auto;
  float: left;
  margin-top: 0.55rem;
}
.header-nav  ul{
  height: 100%;
  float: right;
}
.header-nav  ul > li{
  display: inline-block;
  height: 100%;
  padding: 0.8rem 0.4rem 0 0.4rem;
}
.header-nav  ul > li > a:link{
  color: #FFF;
  text-decoration: none;
}
.header-nav  ul > li > a:hover{
  color: #F0F0F0;
  text-decoration: none;
}
.header-nav > ul > li > a:active{
  color: #F0F0F0;
  text-decoration: none;
}
.header-nav  ul > li > a:visited{
  color: #FFF;
  text-decoration: none;
}

/* Navigationsleiste (Mobil) --------------------------------------------------------*/
.mobile-nav-button{
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  color: #FFF;
  float: right;
  font-size: 2rem;
  border: 2px solid #FFF;
  width: 37px;
  height: 37px;
  position: relative;
  display: none;
}
.mobile-nav-button > a{
  position: absolute;
  bottom: -1px;
  left: 8px;
  color: #FFF;
  text-decoration: none;
}
#nav-list .close-nav{
  display: none;
}

/* Header Banner */
/* .header-banner{
  width: 100%;
  height: auto;
} */
.header-banner{
  width: 100%;
  height: 0;
  padding-top: 20.83%;
  background: url(../img/hintergrund.jpg) no-repeat center center;
  background-size: contain;
}
.header-banner-klein{
  width: 100%;
  height: 0;
  padding-top: 15.625%;
  background: url(../img/hintergrund-klein.jpg) no-repeat center center;
  background-size: contain;
}

/* NEWSLETTER-Bereich ----------------------------------------------------------------*/
.newsletter-bereich{
  width: 100%;
  background-color: #3D3F45;
  color: #FFF;
  padding: 0.4rem 0;
}
#nb-werbetext{
  font-size: 1.2rem;
  padding: 1rem 0;
}
#nb-form{
  margin-top: 0.7rem;
  float: right;
  width: 100%;
  text-align: right;
}
#nb-email{
  width: 74%;
  height: 2rem;
  border: 2px solid #FFF;
  padding: 0.4rem;
}
#nb-btn{
  height: 2rem;
}
@media (max-width: 1490px)
{
  #nb-email{width:70%;}
}
@media (max-width: 1300px)
{
  #nb-email{
    width: 100%;
    margin-bottom: 0.4rem;
  }
  #nb-btn{
    width: 100%;
  }
}

/* Animiertes Logo -------------------------------------------------------------------*/
@-webkit-keyframes logoanimation{
  0% {transform: rotateZ(0deg);}
  11.11% {transform: rotateZ(0deg);}
  22.22% {transform: rotateZ(90deg);}
  33.33% {transform: rotateZ(90deg);}
  44.44% {transform: rotateZ(180deg);}
  55.55% {transform: rotateZ(180deg);}
  66.66% {transform: rotateZ(270deg);}
  77.77% {transform: rotateZ(270deg);}
  88.88% {transform: rotateZ(360deg);}
  100% {transform: rotateZ(360deg);}
}
@keyframes logoanimation{
  0% {transform: rotateZ(0deg);}
  11.11% {transform: rotateZ(0deg);}
  22.22% {transform: rotateZ(90deg);}
  33.33% {transform: rotateZ(90deg);}
  44.44% {transform: rotateZ(180deg);}
  55.55% {transform: rotateZ(180deg);}
  66.66% {transform: rotateZ(270deg);}
  77.77% {transform: rotateZ(270deg);}
  88.88% {transform: rotateZ(360deg);}
  100% {transform: rotateZ(360deg);}
}
#animiertes-logo{
  background-color: #3D3F45;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  padding-top: 25px;
}
#animiertes-logo img{
  display: block;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation-name:  logoanimation;
          animation-name:  logoanimation;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

/* Leistungen-Bereich ---------------------------------------------------------------------*/
.leistungs-box{
  background-color: #3D3F45;
  text-align: center;
  color: #FFF;
  padding: 1rem 3rem 2.5rem;
  margin: 1rem auto 1rem auto;
  width: 60%;
}
.leistungs-box > p{
  padding-bottom: 1rem;
}
.leistung-ansehen-btn, .leistung-ansehen-btn:link,
.leistung-ansehen-btn:visited, .leistung-ansehen-btn:active{
  color: #FFF;
  text-decoration: none;
}
.leistung-ansehen-btn{
  height: 40px;
  border: 2px solid #FFF;
  display: inline-block;
  padding-top: .5rem;
  width: 40%;
  min-width: 100px;
}
.leistung-ansehen-btn:hover{
  color: #A62C21;
  text-decoration: none;
  border: 2px solid #A62C21;
}

#leistungen-bereich .row > .col-3:nth-of-type(even) > .leistungs-box{
  margin-left: 1rem;
  margin-right: auto;
}
#leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistungs-box{
  margin-right: 1rem;
  margin-left: auto;
}

@media( max-width: 1350px ){
  .intro-container{
    width: 90%;
    margin-bottom: 2rem;
  }
  .leistungs-box{
    width: 80%;
  }
}
@media(max-width: 1024px){
  .intro-container{
    width: 100%;
    margin-bottom: 1rem;
  }
  .leistungs-box{
    width: 95%;
  }
  #leistungen-bereich .row > .col-3:nth-of-type(even) > .leistungs-box{
    margin-left: .6rem;
  }
  #leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistungs-box{
    margin-right: .6rem;
  }
}
@media(max-width: 768px){
  #leistungen-bereich .row > .col-3:nth-of-type(even) > .leistungs-box{
    margin-left: auto;
  }
  #leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistungs-box{
    margin-right: auto;
  }
}

/* Video-Bereich --------------------------------------------------------------------*/
#video-bereich{
  background-color: #3D3F45;
  color: #FFF;
}
#video-bereich video{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 60%;
  height: auto;
}
@media(max-width: 1350px){
 #video-bereich video{
   width: 80%;
 }
}
@media(max-width: 768px){
  #video-bereich video{
    width: 95%;
  }
}

/* Service-Bereich ---------------------------------------------------------------------*/
#service-bereich{
  background-color: #F0F0F0;
}
.service-box{
  text-align: center;
  width: 80%;
}
.service-box > p{
  padding-bottom: 3rem;
}
#service-bereich .row:nth-child(2) > .col-2:first-of-type > .service-box{
  margin-right: 0;
  margin-left: auto;
}
#service-bereich .row:nth-child(2) > .col-2:nth-of-type(2) > .service-box{
  margin-left: auto;
  margin-right: auto;
}
#service-bereich .row:nth-child(2) > .col-2:last-of-type > .service-box{
  margin-left: 0;
  margin-right: auto;
}
.service-icon{
  background-color: #3D3F45;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  border-radius: 50%;
  transition: transform 1s;
}
.service-icon:hover{
  transform: rotateZ(360deg);
}
#service-bereich .row:nth-child(2) > .col-2:first-of-type  .service-icon{
  background: #3D3F45 url("../img/services-sprite.png") 0 0;
}
#service-bereich .row:nth-child(2) > .col-2:nth-of-type(2)  .service-icon{
  background: #3D3F45 url("../img/services-sprite.png") -120px 0;
}
#service-bereich .row:nth-child(2) > .col-2:last-of-type  .service-icon{
  background: #3D3F45 url("../img/services-sprite.png") -240px 0;
}
#service-bereich .intro-container{
  margin-bottom: 2.5rem;
}
@media(max-width: 768px)
{
 #service-bereich > .container > .row:nth-child(2) > .col-2 >  .service-box{
    margin-left: auto;
    margin-right: auto;
  }
  .service-box{
    width: 90%;
  }
}
@media(max-width: 480px)
{
  .service-box{
    width: 100%;
  }
}

/* Über uns Bereich -----------------------------------------------------------------------*/
#ueberuns{
  background-color: #FFF;
}
#ueberuns-box{
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#ueberuns-box p{
  padding-bottom: 1rem;
  font-size: 1.2rem;
  width: 75%;
}

#ueberuns-box  img{
  position: absolute;
  top: 0;
  right: 100px;
  height: 100%;
}
@media(max-width: 1650px){
  #ueberuns-box img{
    right: 50px;
  }
}
@media(max-width: 1450px){
  #ueberuns-box img{
    right: 0px;
  }
}
@media(max-width: 1280px){
  #ueberuns-box > img{
    display: none;
  }
  #ueberuns-box{
    width: 90%;
  }
  #ueberuns-box p{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media(max-width: 768px){
  #ueberuns-box p{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Footer ----------------------------------------------------------------------------*/
footer{
  width: 100%;
}
#fuss{
  width: 100%;
  padding: 1.2rem 0;
  background-color: #3D3F45;
  color: #FFF;
}
#fuss-nav{
  display: inline-block;
  float: right;
}
#fuss-nav > a, #fuss-nav > a:link,
#fuss-nav > a:visited, #fuss-nav > a:active
{
  color: #FFF;
  text-decoration: none;
}
#fuss-nav > a{
  transition: background-color .5s ease-in-out, color .5s ease-in-out, padding .5s ease-in-out;
}
#fuss-nav > a:hover{
  background-color: #F0F0F0;
  color: #000;
  padding: .4rem;
}
@media(max-width: 565px){
#fuss span{
  display: none;
}
}


/* LEISTUNGEN SEITE_________________________________________________ */
.sleistung:nth-of-type(even){
  background-color: #F0F0F0;
}
.sleistung:nth-of-type(odd){
  background-color: #FFF;
}
.flex-container{
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
}
.sleistungs-box{
  background-color: #3D3F45;
  color: #FFF;
  flex-basis: 25%;
  padding: 2rem;
  text-align: center;
  /* min-height: 600px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.sleistungs-box-empfohlen{
  flex-basis: 28%;
  /* min-height: 800px; */
  box-shadow: 0 0 20px 0 #3D3F45;
  font-size: 1.05rem;
}
.sleistungs-box  ul{
  padding: 1rem 0;
}
.sleistungs-box a, .sleistungs-box a:link, .sleistungs-box a:visited,
.sleistungs-box a:active{
  text-decoration: none;
  color: #FFF;
}
.sleistungs-box a:hover{
  text-decoration: underline;
}
.sleistungs-box a{
  display:none;
  margin-top: 1rem;
}
.sleistungs-box  ul > li{
  list-style-position: inside;
}
.sleistungs-box button{
  font-size: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: .5rem;
}
.sleistungs-box-empfohlen button{
  font-size: 1.1rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
@media(max-width: 1780px){
  .sleistungs-box{
    flex-basis: 28%;
  }
  .sleistungs-box-empfohlen{
    flex-basis: 32%;
  }
}
@media(max-width: 1350px){
  .flex-container{
    width: 90%;
  }
}
@media(max-width: 1024px){
  .flex-container{
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    flex-direction: column;
  }
  .sleistung .intro-container{
    padding: 0rem 3rem;
  }
  .sleistungs-box{
    flex-basis: 30%;
    margin-bottom: 2rem;
  }
  .sleistungs-box-empfohlen{
    flex-basis: 34%;
  }
}
@media(max-width: 768px){
  .sleistungs-box{
    padding: 1rem 1rem;
  }
  .flex-container{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .sleistungs-box a:first-of-type{
    padding-top: 1rem;
    display:block;
  }
  .sleistungs-box a:last-of-type{
    display:none;
    padding-top: 1rem;
  }
  .sleistungs-box ul{
    display: none;
  }
  .sleistungs-box:target > ul{
    display: block;
  }
  .sleistungs-box:target > a:first-of-type{
    display: none;
  }
  .sleistungs-box:target > a:last-of-type{
    display: block;
  }
}
@media(max-width:450px){
  .flex-container{
    padding-left: 0;
    padding-right: 0;
  }
}

/* Kontak ----------------------------------------------------------------------------*/
#kontakt-formular input, #kontakt-formular textarea{
  width: 100%;
  margin: 0.5rem 0;
  border: 2px solid #3D3F45;
  padding: .5rem;
  font-size: 1rem;
  font-family: 'Raleway', 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
  color: #3D3F45;
  transition: border .5s ease-in-out;
}
#kontakt-formular textarea{
  height: 100px;
}
#kontakt-formular button{
  transition: border .5s ease-in-out;
}
#kontakt-formular input:hover,
#kontakt-formular input:focus,
#kontakt-formular textarea:hover,
#kontakt-formular textarea:focus{
  border: 2px solid #A62C21;
}

#kontakt-bereich .col-3:first-of-type{
  padding-left: 0;
  padding-right: .5rem;
}
#kontakt-bereich .col-3:last-of-type{
  padding-left: .5rem;
  padding-right: 0;
}
#kontakt-formular{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media( max-width: 1350px ){
  #kontakt-formular{
    width: 90%;
  }
}
@media(max-width: 1024px){
  #kontakt-formular{
    width: 100%;
  }
}
@media(max-width: 768px){
  #kontakt-bereich .col-3:first-of-type{
    padding-left: 0;
    padding-right: 0;
  }
  #kontakt-bereich .col-3:last-of-type{
    padding-left: 0;
    padding-right: 0;
  }
}
@media(max-width: 480px){
  #kontakt-formular button{
    width: 100%;
  }
}

/* Impressum ------------------------------------------------------------------------*/
#impressum-bereich a, #impressum-bereich a:link,
#impressum-bereich a:visited, #impressum-bereich a:active{
  text-decoration: none;
  color: #000;
}
#impressum-bereich a{
  transition: background-color .5s ease-in-out,  color .5s ease-in-out,
     padding .5s ease-in-out;
}
#impressum-bereich a:hover{
  background-color: #3D3F45;
  padding: .2rem 1rem;
  color: #F0F0F0;
}
#impressum-bereich li{
  list-style-position: inside;
  padding-top: .5rem;
}
#impressum-bereich h2, #impressum-bereich h3{
  padding-top: 1.5rem;
}

/* GRID-SYSTEM --------------------------------------------------------*/
.container{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.row::after{
  content: "";
  clear: both;
  display: block;
}
[class*='col-']{
  float:left;
}
.col-1{ width: 16.66%; }
.col-2{ width: 33.33%; }
.col-3{ width: 50%; }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%; }

/* GRID-SYSTEM  Sichtbarkeit*/
/* .border, .border *{
  border: 1px solid #91C4FF;
}
body > .container [class*='col-']{
  background-color: #BFDDFF;
  padding: .8rem;
}
p{
  background-color: #91C4FF;
  padding: 0;
  margin: 0;
  color: #FFF;
  text-align: center;
} */

/* Breakpoints
480 Px iPhone quer
768 Px iPad hoch
1024 Px iPad quer
*/
@media (max-width: 1024px){
  .col-1{ width: 33.33%; }
}

@media (max-width: 768px){
  .col-1{ width: 50%; }
  .col-2, .col-3{ width: 100%; }
  .header-nav  ul > li{
    display: block;
    background-color: #3D3F45;
    padding: 0.8rem 1.2rem 0 1.2rem;
    text-align: center;
  }
  .header-nav .mobile-nav-content{
    clear: both;
    display: none;
  }
  #nav-list .close-nav{
    font-size: 2rem;
    font-weight: normal;
    width: 100%;
    display: block;
  }
  #nav-list .close-nav > a{
    display:block;
    width:100%;
  }
  .mobile-nav-button{ display: block; }
  .mobile-nav-content:target{ display: block; }
  .mobile-nav-content:target > #nav-list{ display: block;}
  #nav-list:target{ display: none;}
  #nb-werbetext{display: none;}
  #nb-form{margin-top: 0;}
}

@media (max-width: 480px){
  .col-1{ width: 100%; }
}

/* Tabellen */
/* table, td, th{
  border: 1px solid black;
  border-collase: collapse;
}
tbody{
  background-color: red;
  empty-cells: hide;
}
table{
  caption-side: bottom;
  width: 50%;
  table-layout: fixed; fixe Breite der Tabelle
}*/

/* Animationen */
/* @keyframes test{
0% {background-color: red;
width: 20%;}
100%{background-color: blue;
width: 50%;}
}
div{
animation: test;
animation-duration: 2s;
animation-delay: -1s;
animation-iteration-count: x/ infinite;
animation-direction: normal/ alternate/ reverse;
animation-play-state: running /paused;
animation-timing-function: cubic-bezier(); -> Zeitverlauf
animation-fill-mode: none;
}*/
